<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="p-5 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3 open-sans">Get in touch</small>
                    <h1 class="display-5 mb-0">Contact Us For Any Queries!</h1>
                </div>
                <div class="col-md-6 col-lg-7">
                    <p class="mb-4 open-sans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tempore ducimus voluptatem. Illum libero aspernatur quis nesciunt. Architecto, a laboriosam!</p>
                    <form action="javascript:void(0)" [formGroup]="contactForm" (ngSubmit)="send()">
                        <div class="input-div">
                            <input type="text" formControlName="from_name" class="custom-outline w-100 form-control p-3 border-primary bg-light" placeholder="Your Name">
                            <span
                            *ngIf="submitted && f['from_name'].errors"
                            class="validation-error"
                          >
                            <span
                              class="validation-error"
                              *ngIf="f['from_name'].errors['required']"
                            >
                              Name is required!
                            </span>
                          </span>
                        </div>


                       <div class="input-div">
                        <input type="email" formControlName="from_email" class="custom-outline w-100 form-control p-3 border-primary bg-light" placeholder="Enter Your Email">
                        <span
                        *ngIf="submitted && f['from_email'].errors"
                        class="validation-error"
                      >
                        <span
                          class="validation-error"
                          *ngIf="f['from_email'].errors['required']"
                        >
                          Email is required!
                        </span>
                        <span
                        class="validation-error"
                        *ngIf="f['from_email'].errors['email']"
                      >
                        Enter valid email!
                      </span>
                      </span>
                       </div>

                    <div class="text-div">
                        <textarea formControlName="from_message" class="custom-outline w-100 form-control  p-3 border-primary bg-light" rows="4" cols="10" placeholder="Your Message"></textarea>
                        <span
                        *ngIf="submitted && f['from_message'].errors"
                        class="validation-error"
                      >
                        <span
                          class="validation-error"
                          *ngIf="f['from_message'].errors['required']"
                        >
                          Message is required!
                        </span>
                      </span>
                    </div>


                        <button class="custom-outline w-100 btn btn-primary form-control p-3 text-dark rounded-pill" type="submit">Submit Now</button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                            <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                            <div class="">
                                <h4>Address</h4>
                                <p>123 Street, New York, USA</p>
                            </div>
                        </div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                            <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                            <div class="">
                                <h4>Mail Us</h4>
                                <p class="mb-2">info@example.com</p>
                                <p class="mb-0">support@example.com</p>
                            </div>
                        </div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded">
                            <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                            <div class="">
                                <h4>Telephone</h4>
                                <p class="mb-2">(+012) 3456 7890 123</p>
                                <p class="mb-0">(+704) 5555 0127 296</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>