<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 col-md-12">
                <small class="border-btn d-inline-block fw-bold text-dark text-uppercase bg-light rounded-pill px-4 py-1 mb-4 animate__animated animate__bounceInDown animate__slower">Welcome to CaterServ</small>
                <h1 class="display-1 mb-4 animate__animated animate__bounceInDown animate__slower">Book <span class="text-primary">Cater</span>Serv For Your Dream Event</h1>
                <a href="" class="open-sans btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 text-dark animate__animated animate__bounceInLeft animate__slower">Book Now</a>
                <a href="" class="open-sans btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 text-dark animate__animated animate__bounceInLeft animate__slower">Know More</a>
            </div>
            <div class="col-lg-5 col-md-12">
                <img src="../../../assets/img/hero.png" class="img-fluid rounded animate__animated animate__zoomIn animate__slow" alt="">
            </div>
        </div>
    </div>
</div>
